@import "tailwindcss";

@theme {
  --color-background: #0f172a;
  --color-primary: #ef4444;
  --color-surface: #1e293b;
  --color-muted: #94a3b8;

  --font-mono: "JetBrains Mono", monospace;
}

@layer base {
  body {
    @apply bg-background text-slate-50 font-sans;
  }
}